<template>
  <default-field :field="field" :errors="errors" :show-help-text="showHelpText">
    <template slot="field">
      <div class="tree-view-container" id="tree-view-container" @click="checkTreeVisibility($event)">
        <div class="selected-branches">
          <div
            class="category-detail-item"
            v-for="category in selectedcategories"
            :key="category"
            v-show="category.status"
          >
            <span class="category-name">{{ category.name }}</span>
            <span
              class="category-delete-icon"
              @click="removeCategory(category.id)"
              ></span
            >
          </div>
        </div>
        <div class="available-branches" id="available-branches" v-show="showTree">
          <div class="tree-viewouter">
                <ul  style="display: block;">
                <tree-menu
                  v-for="branch in tree"
                  v-bind:key="branch.id"
                  v-bind:branch="branch"
                  v-bind:selectedCategoryIds="selectedCategoryIds"
                  v-bind:selectedcategories="selectedcategories"
                ></tree-menu>
          </ul>
          </div>
        </div>
      </div>
    </template>
  </default-field>
</template>

<script>
import { FormField, HandlesValidationErrors } from "laravel-nova";
import TreeMenu from "./TreeMenu.vue";

export default {
  mixins: [FormField, HandlesValidationErrors],

  props: ["resourceName", "resourceId", "field"],

  data() {
    return {
      loading: true,
      tree: {},
      parents: {},
      lastRetrievedAt: 0,
      currentNode: null,
      itemToDelete: null,
      showDeleteModal: false,
      selectedCategoryIds: [],
      selectedcategories: [],
      showTree: true,
    };
  },

  methods: {
    /**
     * Fill the given FormData object with the field's internal value.
     */
    fill(formData) {
      this.selectedCategoryIds.forEach((id, index) => {
        formData.append(this.field.attribute + "[" + index + "][category]", id);
        formData.append(
          this.field.attribute + "[" + index + "][category_trashed]",
          false
        );
      });
    },

    parseCategories(rows) {
      const tree = {};
      const map = {};
      if (!rows) return;
      rows.forEach((row) => {
        let leaf = (map[row.id] = {
          id: row.id,
          name: row.name,
          slug: row.slug,
          parentId: row.parent_id,
          children: [],
          status: row.status,
        });
      });
      rows.forEach((row) => {
        let leaf = map[row.id];
        if (leaf.parentId) {
          if (map[leaf.parentId]) {
            let parent = map[leaf.parentId];
            if (!parent.children) parent.children = [leaf];
            else parent.children.push(leaf);
            this.order(parent.children);
          }
        } else {
          tree[row.id] = leaf;
        }
      });
      this.parents = map;
      this.tree = tree;
    },

    order(nodes) {
      nodes.sort((a, b) => (a.order > b.order ? 1 : -1));
    },

    removeCategory(categoryId) {
      this.selectedCategoryIds.splice(
        this.selectedCategoryIds.indexOf(categoryId),
        1
      );
      this.filterSelectedCategories();
    },

    filterSelectedCategories() {
      this.selectedcategories = [];
      this.field.categories.forEach((category, index) => {
        if (this.inArray(category.id, this.selectedCategoryIds)) {
          this.selectedcategories.push(category);
        }
      });
    },

    inArray(needle, haystack) {
      var length = haystack.length;
      for (var i = 0; i < length; i++) {
        if (haystack[i] == needle) return true;
      }
      return false;
    },

    checkTreeVisibility($event){
      if($event.target.className == 'tree-view-container'){
        this.showTree = true;

      }
    }
  },

  watch: {
    resource: {
      immediate: true,
      handler() {
        this.field.value.forEach((category) => {
          if (!this.inArray(category.category_id, this.selectedCategoryIds)) {
            this.selectedCategoryIds.push(category.category_id);
          }
        });
        this.filterSelectedCategories();
        this.parseCategories(this.field.categories);
      },
    },
  },
  components: {
    TreeMenu,
  },
};
</script>
