<template>
  <li v-show="branch.status">
    <label for="#">
      <i
        class="acc-icon"
        @click="toggleChildrenVisibility($event, branch.slug)"
      ></i>
      <input
        type="checkbox"
        class="checkbox"
        :value="branch.id"
        :id="branch.id"
        :checked="selectedCategoryIds.includes(branch.id)"
        @change="updateSelectedCategories($event, branch)"
      />
      <span class=""> {{ branch.name }}</span>
    </label>
    <ul v-if="branch.children.length" :id="branch.slug" class="hide">
      <tree-menu
        v-for="child in branch.children"
        v-bind:key="child.id"
        v-bind:branch="child"
        v-bind:selectedcategories="selectedcategories"
        v-bind:selectedCategoryIds="selectedCategoryIds"
      ></tree-menu>
    </ul>
  </li>
</template>
<script>
export default {
  props: ["branch", "selectedcategories", "selectedCategoryIds"],
  name: "tree-menu",
  methods: {
    updateSelectedCategories(evt, branch) {
      if (evt.target.checked) {
        this.selectedcategories.push(branch);
        this.selectedCategoryIds.push(branch.id);
      } else {
        this.selectedcategories.splice(
          this.selectedcategories.indexOf(branch),
          1
        );
        this.selectedCategoryIds.splice(
          this.selectedCategoryIds.indexOf(branch.id),
          1
        );
      }
    },
    toggleChildrenVisibility($event, branchSlug) {
      var childenList = document.getElementById(branchSlug);
      $event.target.classList.toggle("acc-icon-toggle");
      if (childenList) {
        childenList.classList.toggle("hide");
      }
    },
  },
};
</script>
